<article class="features-container">
    <section class="features-container__features features">
      <div class="features__point point">
        <img class="point__icon" src="../img/icon1 2.png" alt="" />
        <div class="point__about">
          <h4 class="point__abount__heading">Creatred to Make The Web Better</h4>
          <p class="point__about__description">
            Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
            laoreet vulputate dignissim. Sed id metus id quam auctor molestie
            eget ut augue.
          </p>
        </div>
      </div>
      <div class="features__point point">
        <img class="point__icon" src="../img/icon 3.png" alt="" />
        <div class="point__about">
          <h4 class="point__abount__heading">Incredibly Powerful Tool</h4>
          <p class="point__about__description">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>
      <div class="features__point point">
        <img class="point__icon" src="../img/icon2 2.png" alt="" />
        <div class="point__about">
          <h4 class="point__abount__heading">Experimental Stuff</h4>
          <p class="point__about__description">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>
      <div class="features__point point">
        <img class="point__icon" src="../img//icon33 1.png" alt="" />
        <div class="point__about">
          <h4 class="point__abount__heading">Creatred to Make The Web Better</h4>
          <p class="point__about__description">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>
    </section>
    <div class="features-container__editor editor">
      <h3 class="editor__title">&lt;Here is what you get&gt;</h3>
      <img class="editor__image" src="../img/editor 2.png" alt="" />
    </div>
  </article>