<footer>
  <section class="subscription">
    <h2 class="subscription__title">Fork Subscription Pricing</h2>
    <nav class="subscription__table-price table-price">
      <div class="table-price__level level">
        <h3 class="level__title">Students</h3>
        <p class="level__price">$29</p>
        <span class="level__per-month"
          >per month</span
        >
        <p class="level__purchases">
          Personal License
        </p>
        <button class="level__button">
          <a
            class="level__button__link"
            href="#"
            >purchase</a
          >
        </button>
      </div>
      <div class="table__level level">
        <h3 class="level__title">
          professional
        </h3>
        <p class="level__price">$59</p>
        <span class="level__per-month"
          >per month</span
        >
        <p class="level__purchases">
          Professional License <br />Email Support
        </p>
        <button class="level__button">
          <a
            class="level__button__link"
            href="#"
            >purchase</a
          >
        </button>
      </div>
      <div class="table__level level">
        <h3
          class="level__title title-price-third"
        >
          Agence
        </h3>
        <p class="level__price">$99</p>
        <span class="level__per-month"
          >per month</span
        >
        <p class="level__purchases">
          1-12 Team Members <br />Phone Support
        </p>
        <button class="level__button">
          <a
            class="level__button__link"
            href="#"
            >purchase</a
          >
        </button>
      </div>
      <div class="table__level level">
        <h3 class="level__title">
          enterprise
        </h3>
        <p class="level__price">$159</p>
        <span class="level__per-month"
          >per month</span
        >
        <p class="level__purchases">
          Unlimited Team Members<br />24/ 7 Phone Support
        </p>
        <button class="level__button">
          <a
            class="level__button__link"
            href="#"
            >purchase</a
          >
        </button>
      </div>
    </nav>
  </section>
</footer>
