<header class="header-container">
  <section class="header-container__header header">
    <div class="header__nav">
      <a href="#" class="header__nav__logo logo">
        <img class="logo__img" src="../img/header/Logo.png" alt="" />
        <img
          class="logo__img-hover"
          src="../img/header/logo-hover 1.png"
          alt=""
        />
        <p class="logo__text">ForkIO</p>
      </a>
      <nav class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__list__item">
            <a class="menu__list__item__link" href="">Overview</a>
          </li>
          <li class="menu__list__item">
            <a class="menu__list__item__link" href="">About Fork</a>
          </li>
          <li class="menu__list__item">
            <a class="menu__list__item__link" href="">Buying Options</a>
          </li>
          <li class="menu__list__item">
            <a class="menu__list__item__link" href="">Support</a>
          </li>
        </ul>
      </nav>

      <button type="button" class="header__button">Buy Now</button>

      <div class="header__burger-menu burger-menu">
        <input class="burger-menu__input" type="checkbox" />
        <span class="burger-menu__line header__burger-menu__line-1"></span>
        <span class="burger-menu__line header__burger-menu__line-2"></span>
        <span class="burger-menu__line header__burger-menu__line-3"></span>
      </div>
    </div>

    <div class="header__main">
      <h1 class="header__main__title">Fork App</h1>
      <p class="header__main__text">
        A Real Gamechanger In The World Of Web Development
      </p>
      <span class="header__main__span">v. 2.8 For Mac and Windows</span>
    </div>
    <div class="header__container-bottom container-bottom">
      <button class="container-bottom__button">
        <p class="container-bottom__button__text">Download For Free Now</p>
      </button>
      <p class="container-bottom__under-text">Unlimited 30-Days Trial Period</p>
    </div>
  </section>
</header>
