<section class="peopleTalking">
  <h2 class="peopleTalking__header">People Are Talking About Fork</h2>
  <div class="peopleTalking__reviews">
    <div class="peopleTalking__reviews__review review">
      <img src="../img/peopleTalkin/smashing.png" alt="" />
      <p class="review__description">
        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
        Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
      </p>
    </div>
    <div class="peopleTalking__reviews__review review">
      <img src="../img/peopleTalkin/codrops.png" alt="" />
      <p class="review__description">
        Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus
        molestie neque ac, mollis eleifend nibh.
      </p>
    </div>
    <div class="peopleTalking__reviews__review review">
      <img src="../img/peopleTalkin/W.png" alt="" />
      <p class="review__description">
        In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat
        fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.
      </p>
    </div>
    <div class="peopleTalking__reviews__review review">
      <img src="../img/peopleTalkin/pixelBuddha.png" alt="" />
      <p class="review__description">
        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
        Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
      </p>
    </div>
    <div class="peopleTalking__reviews__review review">
      <img src="../img/peopleTalkin/creativeBloq.png" alt="" />
      <p class="review__description">
        Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla
        faucibus lorem id arcu consequat faucibus.
      </p>
    </div>
    <div class="peopleTalking__reviews__review review">
      <img src="../img/peopleTalkin/TNW.png" alt="" />
      <p class="review__description">
        Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
        Pellentesque porttitor cursus massa et vestibulum.
      </p>
    </div>
  </div>
  <p class="peopleTalking__bottom-text">
    Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis
    vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt
    consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus.
  </p>
</section>
