.subscription__title,
.level__title,
.level__price,
.level__per-month,
.level__purchases,
.level__button {
  font-family: $montserrat;
}
.subscription {
  margin: auto;
  width: 100%;
  background: url(../img/Layer\ 2.png) center center / 100% 100% no-repeat; 
  &__title {
    margin-top: 0;
    padding: 10px 0 20px;
    color: $footer-color-text;
    font-size: 28px;
  }
  & .table-price {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    padding-bottom: 10px;
    padding: 0 10px;
    & .level {
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.11);
      width: 257px;
      &:nth-child(3) {
        width: 299px;
        background-color: rgba(70, 48, 72, 0.84);
        border: solid rgba(70, 48, 72, 1);
        height: 560px;
      }
      &__title {
        transition: background-color 0.3s ease-in;
        background-color: rgba(255, 255, 255, 0.06);
        width: 100%;
        text-transform: uppercase;
        padding: 33px 0;
        margin: 0;
        color: $footer-color-text;
        font-weight: 400;
        font-size: 24px;
      }
     & .title-price-third {
        background-color: rgba(0, 0, 0, 0.11);
      }
      &__price {
        font-size: 60px;
        font-weight: 700;
        color: $footer-color-text;
        margin: 20px 0;
      }
      &__per-month {
        color: $footer-color-text;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        &::after {
          margin: 35px auto;
          content: " ";
          display: block;
          width: 60px;
          background-color: rgba(141, 129, 172, 1);
          height: 5px;
        }
      }
      &__purchases {
        color: $footer-color-text;
        font-size: 16px;
        line-height: 2;
        height: 64px;
      }
      &__button {
        text-transform: uppercase;
        font-size: 15px;
        background-color: rgba(255, 255, 255, 0.15);
        border: none;
        width: 163px;
        height: 45px;
        border-radius: 20px;
        padding: 10px 20px;
        margin: 15px 0 50px;
        &__link {
          color: $footer-color-text;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .subscription {
    min-width: 320px;
  }
}
@media (min-width: 481px) {
  .subscription {
    &__title {
      font-size: 42px;
    }
    & .table-price {
      padding-bottom: 80px;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 40px;
      & .level {
        width: 87%;
        max-width: 255px;
        &:nth-child(3) {
          width: 90%;
          max-width: 299px;
        }
        &__price {
          font-size: 42px;
        }
      }
    }
  }
}
@media (min-width: 993px) {
  .subscription {
    &__title {
      font-size: 48px;
    }
    & .table-price {
      max-width: 1200px;
      grid-template-columns: repeat(4, 1fr);
    }
    & .level {
      width: 257px;
      &:nth-child(3) {
        width: 299px;
      }
      &__price {
        font-size: 48px;
      }
    }
  }
}
