@import "mixins";
@import "variables";

#active_menu {
  display: block;
  background-color: rgba(51, 51, 51, 1);
  width: 80%;
  min-width: 320px;
  margin: auto;
  top: 100px;
}

.active_list {
  width: 100%;
  @include flex-container-column(space-evenly);
  align-items: flex-start;
  list-style: none;
  padding-left: 0;
  height: 370px;
  background-color: rgba(51, 51, 51, 1);
}
.active_item {
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
  margin-left: 30px;
  border-bottom: 3px solid rgba(59, 59, 59, 1);
}
.active_link {
  color: #fff;
  font-family: $montserrat;
  font-size: 26px;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  &:focus {
    color: #8d81ac;
    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 50px;
      background-color: rgba(141, 129, 172, 1);
      position: absolute;
      left: 0;
      top: -10px;
    }
  }
}

.header-container {
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  min-width: 320px;
  position: relative;
  .header {
    display: block;
    min-width: 320px;
    width: 100%;
    height: 835px;
    color: #ffffff;
    background: url(../img/header/Header.png) center center / cover no-repeat;
    &__nav {
      @include flex-container-row(space-around);
      margin-top: 0;
      min-width: 320px;
      width: 100%;
      background: rgba(94, 93, 88, 0.6);
      padding: 10px 0;
      & .logo {
        position: relative;
        z-index: 2;
        &__text {
          display: none;
        }
        &__img-hover {
          display: none;
        }
        &:hover .logo__text {
          color: rgba(255, 255, 255, 1);
        }
        &:hover .logo__img {
          display: none;
        }
        &:hover .logo__img-hover {
          display: block;
        }
      }
    }
    .menu {
      display: none;
      position: absolute;
    }
    &__button {
      @include button;
      border: none;
      width: 120px;
      height: 40px;
      font-size: 16px;
      position: relative;
      z-index: 3;
    }
    &__main {
      @include flex-container-column(center);
      width: 80%;
      margin: auto;
      margin-top: 30px;
      &__title {
        font-family: $montserrat;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 30px;
      }
      &__text {
        color: #8d81ac;
        font-family: $montserrat;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        margin: 15px auto;
      }
      &__span {
        color: #848e97;
        font-family: $montserrat;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
    .burger-menu {
      @include flex-container-column(space-between);
      gap: 7px;
      align-items: flex-end;
      position: relative;
      width: 26px;
      &__line {
        z-index: 3;
        display: block;
        background: #fff;
        width: 26px;
        height: 3px;
        &:nth-child(2) {
          width: 15px;
        }
      }
      &__input {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 45px;
        height: 45px;
        z-index: 0;
        opacity: 0;
        &:checked ~ .header__burger-menu__line-1 {
          width: 27px;
          transform: rotate(45deg) translate(4px, 4px);
        }
        &:checked ~ .header__burger-menu__line-2 {
          display: none;
        }
        &:checked ~ .header__burger-menu__line-3 {
          transform: rotate(-45deg) translate(3px, -4px);
          width: 27px;
        }
      }
    }
    .container-bottom {
      @include flex-container-column(center);
      height: 80px;
      margin-bottom: 100px;
      position: absolute;
      left: 10%;
      right: 10%;
      bottom: -19%;
      &__button {
        @include button;
        text-align: center;
        border: none;
        width: 290px;
        height: 45px;
        &:hover {
          @include header-button-hover(2px);
        }
        & .container-bottom__under-text {
          font-size: 18px;
          margin-top: 10px;
          margin-bottom: 30px;
          text-align: center;
        }
      }
      &__under-text {
        color: #848e97;
        text-align: center;
        font-family: $montserrat;
        font-size: 14px;
        font-weight: 400;
        margin-top: 15px;
      }
    }
  }
}

// 780----------------------------------------

@media screen and (min-width: 481px) {
  .header-container {
    width: 100%;
    background-size: contain;
    .header {
      width: 100%;
      display: block;
      &__nav {
        flex-wrap: wrap;
        justify-content: space-between;
        & .logo {
          order: 0;
          @include link;
          margin-left: 20px;
          font-family: $lato;
          font-size: 24px;
          font-weight: 700;
          text-transform: uppercase;
          position: relative;
          margin-left: 20px;
          @include flex-container-row(space-around);
          &__text {
            display: block;
            margin-left: 17px;
          }
        }
      }
      .menu {
        @include flex-container-row(space-around);
        gap: 49px;
        z-index: 3;
        order: 2;
        width: 100%;
        position: static;
        .menu__list {
          width: 100%;
          margin: auto;
          @include flex-container-row(center);
          list-style: none;
          gap: 48px;
          position: static;
          height: 100%;
          padding: 0;
          background: none;
          &__item {
            & :hover {
              color: rgba(255, 255, 255, 1);
            }
            align-items: center;
            &__link {
              font-size: 16px;
              font-weight: 700;
              padding: 0;
              color: #8d81ac;
              font-family: $montserrat;
              text-decoration: none;
              &:focus {
                color: #fff;
              }
            }
          }
        }
      }
      &__button {
        order: 1;
        margin-right: 20px;
        width: 145px;
        height: 37px;
      }
      .container-bottom {
        &-button {
          margin-top: 439px;
        }
      }
      &__main {
        width: 90%;
        &__title {
          margin-top: 0px;
          margin-bottom: 20px;
          font-size: 72px;
        }
        & > p {
          font-size: 24px;
        }
      }
      .burger-menu {
        display: none;
      }
    }
  }
}
// 1200----------------------------------

@media screen and (min-width: 993px) {
  .header-container {
    background: auto 100%;
    .header {
      &__nav {
        background: rgba(0, 0, 0, 0);
        height: 100px;
        width: 100vw;
        position: relative;
        flex-wrap: nowrap;
        gap: 40px;
        .logo {
          order: 1;
          @include link;
          font-family: $lato;
          font-size: 24px;
          font-weight: 700;
          text-transform: uppercase;
          position: relative;
          margin-left: 90px;
          @include flex-container-row(space-around);
          justify-content: flex-start;
          &__text {
            display: block;
          }
        }
      }
      .menu {
        justify-content: flex-end;
        display: block;
        width: 527px;
        gap: 49px;
        z-index: 3;
        margin-left: auto;
        .menu__list {
          width: auto;
          order: 2;
          @include flex-container-row(flex-end);
          list-style: none;
          gap: 48px;
          position: static;
          height: 100%;
          padding: 0;
          background: none;
          &__item {
            border: none;
            width: auto;
            &__link {
              font-size: 16px;
              font-weight: 700;
              padding: 0;
              color: #8d81ac;
              &:focus::before {
                display: none;
              }
              &:focus {
                color: #fff;
              }
            }
            &__link {
              @include link;
              font-family: $montserrat;
              font-weight: 700;
              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
      &__button {
        width: 145px;
        height: 37px;
        margin-left: 45px;
        margin-right: 90px;
        order: 3;
        @include button;
        border: none;
        &:hover {
          @include header-button-hover(1px);
        }
      }
      &__main {
        @include flex-container-column(center);
        gap: 19px;
        &__title {
          font-family: $montserrat;
          font-size: 82px;
          font-weight: 700;
          margin-bottom: 10px;
        }
        &__text {
          margin-top: 0;
          font-size: 30px;
        }
        &__span {
          font-size: 16px;
        }
      }
      &__container-bottom {
        &__button {
          margin-top: 900px;
        }
      }
    }
  }
}
