@mixin flex-container-row($jc){
    display: flex;
    align-items: center;
justify-content: $jc;
flex-direction: row;
}
@mixin flex-container-column($jc){
    display: flex;
    align-items: center;
justify-content: $jc;
flex-direction: column;
}
@mixin link(){
text-decoration: none;
color: #8D81AC;
cursor: pointer; 
}

@mixin button(){
    
    border-radius: 40px;
background: #8D81AC;
border-color: #8D81AC;
color: #FFF;
font-weight: 700;
cursor: pointer; 
}

@mixin header-button-hover($px){
    border-radius: 40px;
border: $px solid #8D81AC;
background: #FFF;
color: #8D81AC;
}