.present-block__title,
.button__icon__detail-value,
.button__icon__name-detail {
  font-family: $montserrat;
}
.present-block {
  margin: 100px auto 150px;
  padding-left: 40px;
  padding-right: 40px;
  &__title {
    margin-bottom: 10px;
    color: rgba(99, 92, 115, 1);
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
  .details-block__button {
    cursor: pointer;
  }
  &__text {
    color: $color-text;
    font-size: 14px;
    margin-bottom: 40px;
    margin: 20px auto;
    font-family: $lato;
  }
  .details-block {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 30px;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    .button {
      border: solid 1px #7d8590;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 200px;
      background-color: #30363d;
      padding: 0;
      &__icon {
        padding: 7px 10px 6px;
        border-radius: 6px 0 0 6px;
        align-items: center;
        display: flex;
        justify-content: center;
        border: solid 1px #7d8590;
        transition: border 0.2s ease-in;
        &__svg {
          margin-right: 5px;
          font-size: 15px;
          fill: #7d8590;
        }
        &__name-detail {
          font-weight: 700;
          font-size: 11px;
          color: #7d8590;
        }
        &__detail-value {
          padding: 5px;
          border-radius: 10px;
          margin: 3px 3px 3px 6px;
          font-size: 11px;
          font-weight: 700;
          color: #7d8590;
        }
      }
      &__arrow {
        width: 21px;
        height: 26px;
        fill: #7d8590;
        border: solid 1px #7d8590;
        border-radius: 0 6px 6px 0;
        padding: 8px 0;
        transition: border 0.2s ease-in;
      }
    }
  }
}
@media (max-width: 480px) {
  .present-block {
    min-width: 320px;
  }
}
@media (min-width: 481px) {
  .present-block {
    &__title {
      font-size: 42px;
    }
    &__text {
      font-size: 21px;
    }
  }
}
@media (min-width: 993px) {
  .present-block {
    width: 870px;
    margin-bottom: 80px;
    &__title {
      font-size: 54px;
    }
  }
}
