.editor__title,
.point__abount__heading {
  font-family: $montserrat;
}
.point__about__description {
  font-family: $lato;
}
.point__icon,
.editor__image {
  cursor: pointer;
}
.features-container {
  width: 100%;
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  & .features {
    & .point {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      margin-bottom: 30px;
      &__icon {
        min-width: 73px;
      }

      &__about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin-right: 0;
        margin-left: auto;
        &__heading {
          margin-bottom: 0;
          font-weight: 400;
          color: $color-text;
          font-size: 16px;
        }
        &__description {
          color: rgba(132, 142, 151, 1);
          font-size: 16px;
          text-align: center;
          padding-right: 40px;
          padding-left: 40px;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
  & .editor {
    margin-left: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    &__image {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 10px;
      padding: 0;
    }
    &__title {
      position: absolute;
      color: rgba(141, 129, 172, 1);
      font-size: 32px;
      top: -160px;
      left: 50px;
      right: 50px;
    }
  }
}
@media (max-width: 480px) {
  .features-container {
    min-width: 320px;
  }
}
@media (min-width: 481px) {
  .features-container {
    & .features {
      & .point {
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: 40px;
        margin-right: 20px;
        &__about {
          padding-left: 30px;
          &__description {
            text-align: left;
            padding-right: 0;
            padding-left: 0;
          }
        }
      }
    }
    & .editor {
      &__image {
        width: auto;
      }
      &__title {
        font-size: 42px;
        top: -140px;
      }
    }
  }
}
@media (min-width: 993px) {
  .features-container {
    background-color: rgba(244, 244, 244, 1);
    background-size: cover;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    & .features {
      max-width: 550px;
      margin: 100px 0;
      & .point {
        margin-left: 0;
        margin-right: 20px;
        &__about {
          width: 399px;
        }
      }
    }
    & .editor {
      max-width: 650px;
      margin-left: 0;
      &__image {
        max-width: 650px;
      }
      &__title {
        font-size: 48px;
        position: static;
        margin: 0 0 0 20px;
      }
    }
  }
}
