@import "mixins";
@import "variables";

.peopleTalking {
  margin-bottom: -20px;
  min-width: 320px;
  width: auto;
  background-image: url(../img/peopleTalkin/testmonials-bg\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 0 0px 40px 0px;
  &__header {
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: $montserrat;
    font-size: 36px;
    font-weight: 700;
    padding-top: 60px;
    text-align: center;
    margin-top: 0;
  }
  &__reviews {
    margin: 50px auto 0;
    row-gap: 40px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    & .review {
      max-width: 320px;
      margin: auto;
      @include flex-container-column(center);
      gap: 30px;
      width: auto;
      height: 150px;
      &__description {
        display: block;
        text-align: center;
        font-family: $lato;
        font-size: 16px;
        font-style: italic;
        font-weight: 700;
        line-height: 24px;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  &__bottom-text {
    max-width: 887px;
    display: flex;
    color: #a291a5;
    text-align: center;
    font-family: $lato;
    font-size: 14px;
    font-weight: 400;
    margin: 50px auto;
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background: rgba(100, 87, 102, 1);
      margin-bottom: 10px;
      position: absolute;
      bottom: -30px;
    }
  }
}
// --------------------
@media screen and (min-width: 481px) {
  .peopleTalking {
    background-size: 100% 100%;
    &__header {
      font-size: 42px;
      padding-top: 90px;
    }
    &__reviews {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      row-gap: 60px;
      & .review {
        @include flex-container-column(center);
        gap: 30px;
        width: auto;
        height: 150px;
      }
    }
    &__bottom-text {
      margin-top: 90px;
      &::after {
        left: 10%;
        right: 10%;
        width: 80%;
        margin-bottom: 10px;
        bottom: -30px;
      }
    }
  }
}
// ----------------------------------------
@media screen and (min-width: 993px) {
  .peopleTalking {
    &__header {
      font-size: 48px;
      padding-top: 110px;
    }
    &__reviews {
      max-width: 1200px;
      margin-top: 80px;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 120px;
      row-gap: 110px;
    }
    &__bottom-text {
      &::after {
        margin-top: 120px;
      }
    }
  }
}
