@import 'variables';
@import 'mixins';
@import 'header';
@import "peopleTalking";
@import 'footer';
@import 'presentBlock';
@import 'features';
html{
  overflow-x: hidden;
}
body{
  margin: 0;
  overflow-x: hidden;
}
p, h4, h3, h2, span {
  text-align: center;
}
a{
  text-decoration: none;
}
